{% extends "template.html" %}

{% block title %}404 Not Found - {% endblock %}

{% block body %}
    <div id="bd">
        <div class="box-outer top-box">
            <div class="box-inner">
                <div class="boxbar">
                    <h2>404 Not Found</h2>
                </div>
                <div class="boxcontent">
                    <img src="https://sys.4chan.org/image/error/404/rid.php" alt="404 Not Found"><br>
                    <div id="backtoboard"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}